<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- File extensions that should be considered images separated by coma-->
    <add key="ImageExtensions" value="png, .jpg|gif,tiff"/>
    <!-- Additional file name templates. Key must start with 'fnmt.',
    Value must be in form "UI Name|template"
    Template variables
    @FileDate - date of the originel file in form yyyy-MM-dd
    @Counter  - counter value formatted according selected options
    @GroupName- name of the group
    @FileName - original file name
    @Marker   - source marker
    -->
    <add key="fnmt.01" value="Date Mrk#N-Group OldName|@FileDate @Marker#@Counter-@GroupName @FileName"/>
  </appSettings>
</configuration>