<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ImageExtensions" value="jpg|png"/>
    <add key="VideoExtensions" value="mts|mov|mp4|mkv"/>
    <add key="AudioExtensions" value="mp3|m4a"/>
    <add key="ffProbe.Path" value="c:\Development\Tools\ffMpeg\bin\ffprobe.exe"/>
    <add key="ffMpeg.Path" value="c:\Development\Tools\ffMpeg\bin\ffmpeg.exe"/>
    <!-- External commands
     Each entry key starts from "xcmd:"
     Each value consists of 5 elements separated by "|". 
      1. Menu title
      2. Description
      3. Timout in seconds. Can be empty. Default is 60.
      4. Applicability filter (list of file extensions separated by on of ";|"
      5. Application to call
      6. Application parameters
     Each element tries template substitution for key specified as {?key}.
     If key has prefix "appCfg:NNN" then value of appSetting with key "NNN" will be used.
     Other keys:
     filePath - full path to file
     fileExt - file extension (without a dot)
     fileName - name of the file without extension
     dirPath - full path to file directory (no slash at the end)
     
     MediaProject variables (variables/var in project XML) can also be used in template.
  -->
    <add key="xcmd:AudioAAC" value="DaVinci AAC|Extract MTS audio for DaVinci as AAC||{?appCfg:VideoExtensions}|{?appCfg:ffMpeg.Path}|-i &quot;{?filePath}&quot; -vn -acodec aac -ac 2 -ab 192k -y &quot;{?dirPath}\{?fileName}.m4a&quot;"/>
    <add key="xcmd:To1080" value="To HD 1920x1080|Convert to h264 HD|300|{?appCfg:VideoExtensions}|{?appCfg:ffMpeg.Path}|-i &quot;{?filePath}&quot; -c:a copy -s:v 1920x1080 -c:v libx264 -tune film -preset slow -crf 18 -y &quot;{?trgConv}\{?fileName}_hd.mp4&quot;"/>
    <add key="xcmd:ToH265" value="To H265|Convert to h265|600|{?appCfg:VideoExtensions}|{?appCfg:ffMpeg.Path}|-i &quot;{?filePath}&quot; -c:a copy -c:s copy -c:v libx265 -preset medium -x265-params crf=22:qcomp=0.8:aq-mode=1:aq_strength=1.0:qg-size=16:psy-rd=0.7:psy-rdoq=5.0:rdoq-level=1:merange=44 -y &quot;{?trgDirPath}\{?trgFileName}_h265.mkv&quot;"/>
 <!-- Transformation commands are extended external commands and have more parameters in addition to xcmd
  trgFileName - name of the target file without extension
  trgDirPath - full path of the target directory (no slash at the end)
  tStart - start time in the source clip in form HH:mm:ss.ff, default "00:00:00"
  tStop- stop time in the source clip in form HH:mm:ss.ff, default "00:00:00"
  tDuration - duration in form HH:mm:ss.ff, default "00:00:00"
  
    
"c:\Development\Tools\ffMpeg\bin\ffMpeg.exe" -i "c:\XC\Photo\2016-05-07 USCanyons\Processed\Zion3_top2.mov" -c:a copy -c:s copy -c:v libx265 -preset ultrafast -x265-params crf=22:qcomp=0.8:aq-mode=1:aq_strength=1.0:qg-size=16:psy-rd=0.7:psy-rdoq=5.0:rdoq-level=1:merange=44  "c:\XC\Photo\2016-05-07 USCanyons\Processed\Zion3_top2.mkv" -y    
-->
      <add key="tcmd:GetSubClip" value="Get Subclip|Extract subclip (video+audio)||{?appCfg:VideoExtensions}|{?appCfg:ffMpeg.Path}|-i &quot;{?filePath}&quot; -vcodec copy -acodec copy -ss {?tStart} -to {?tStop} -y &quot;{?trgDirPath}\{?trgFileName}.{?fileExt}&quot;"/>
      <add key="tcmd:CutAudioClip" value="Get Audio|Extract Audio subclip||{?appCfg:VideoExtensions};{?appCfg:AudioExtensions}|{?appCfg:ffMpeg.Path}|-i &quot;{?filePath}&quot; -vn -acodec copy -ss {?tStart} -to {?tStop} -y &quot;{?trgDirPath}\{?trgFileName}.m4a&quot;"/>
      <add key="tcmd:ToH265tst" value="To H265 Subclip|Convert to h265 subclip|600|{?appCfg:VideoExtensions}|{?appCfg:ffMpeg.Path}|-i &quot;{?filePath}&quot; -c:a copy -c:s copy -ss {?tStart} -to {?tStop} -c:v libx265 -preset ultrafast -x265-params crf=22:qcomp=0.8:aq-mode=1:aq_strength=1.0:qg-size=16:psy-rd=0.7:psy-rdoq=5.0:rdoq-level=1:merange=44 -y &quot;{?trgDirPath}\{?trgFileName}_h265t.mkv&quot;"/>
  </appSettings>
</configuration>